/* universal selector  */
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

 /* margin 0 declarations & width declarations*/

 h1, section {
   margin: 0 auto; 
 }

 section, form {
   width: 92%;
 }

 /* flex declarations */

 header, section, fieldset {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
 }

/* typography, headings, and body styles*/

body {
  font-family: 'Merriweather', serif;
  background-color: #ECF1F1;
}

h1 {
  color: white;
  font-size: 1.5em;
  align-self: center;
}

h2 {
  font-size: 1.3em;
  padding-top: 1em;
}

p, label {
  font-family: 'Montserrat', sans-serif;
}

section p, footer p, #state {
    color: #959595;
} 

label, fieldset p {
  color: #262626;
}

label, textarea::placeholder {
  text-align: left;
}

/* header styles */

header {
  height: 10vh;
  background-color: #406C7C;
}

section {
  text-align: center;
}

section p {
  margin: 0 0 2em 0;
}

hr {
  width: 100%;
  height: .15em;
  background-color: black;
  border: none;
  margin-bottom: 1.5em
}

form hr {
  margin: 1.5em 1em; 
}

hr#thickline {
  height: .3em;
  margin: 0 0 -1em 0;
}

/* form styles */

fieldset {
  border: none;
  margin: 0 -1.8em 0 .1em;
}

legend {
  padding-bottom: .8em;
}

label {
  font-size: .9em;
  padding: .7em 0;
}

::placeholder {
  font-size: .7em;
  text-align: right;
  opacity: .6; 
  padding-right: 1em;
  color: #595959;
}

textarea::placeholder {
  font-size: .8em;
}

input[type=text], input[type=email], input[type=tel], select, textarea, #signup {
  width: 100%;  
}

input[type=text], input[type=email], input[type=tel], select, #zip {
  height: 2.5em;
}

 input[type=text], input[type=email], input[type=tel], select, #zip, textarea, #signup {
  border: 0 solid;
  border-radius: 4px;

}

input[type=text], input[type=email], input[type=tel], select, #zip, textarea {
    background-color: #e6e6e6;
}

input:focus,   /* got this suggestion from stackoverflow */
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:hover, textarea:hover {
  border: 1.5px solid #ffffcc;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, select:focus, #zip:focus {
  transition: height .8s ease-in-out;
  height: 3.5em;
  background-color: #ffffcc;
}

#zip {
  width: 45%;
}

input[type=checkbox], input[type=radio] {
  margin-right: 1em;
}

textarea {
  resize: none;
  height: 6.5em;
}

textarea:focus {
    transition: background-color 1s ease-in-out;
    background-color: #99ffcc;
}

#signup {
  background-color: #00e6b8;
  color: #f2f2f2;
  margin: 2em auto .5em;
  height: 3em;
  font-size: 1.2em;
  cursor: pointer;
}

/* hiding number arrows from W3schools */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* hiding number arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* hiding elements for mobile */
.hideLabel {
  display: none;
}

/* footer styles */

footer {
  height: 35vh;
}

footer p {
  text-align: center;
  font-style: italic;
}